<h1>Login</h1>

<%= form_with url: sessions_path do |session| %>
	<%= session.label :email %>
	<%= session.email_field :email %>

	<%= session.label :password %>
	<%= session.password_field :password %>

	<%= session.submit %>
<% end %>