<p><%= link_to 'Google Login', '/auth/google_oauth2' %></p>
<p><%= link_to 'Signup', new_identity_path %></p>

<%= form_with url: '/auth/identity/callback' do |login| %>
	<%= login.label :email %>
	<%= login.email_field :email %>

	<%= login.label :password %>
	<%= login.password_field :password %>

	<%= login.submit %>
<% end %>