<%= form_with url: sessions_path, method: 'POST' do |login| %>
	<%= login.label :email %>
	<%= login.text_field :email %>

	<%= login.label :password %>
	<%= login.password_field :password %>

	<%= login.submit %>
<% end %>
<br>
<p><%= link_to 'Or login with GitHub, you nerd!', new_session_path %></p>