<%= form_with model: user do |user| %>
	<%= user.label :name %>
	<%= user.text_field :name %>

	<%= user.label :email %>
	<%= user.email_field :email %>

	<% unless user.object.uid %>
		<%= user.label :password %>
		<%= user.password_field :password %>

		<%= user.label :password_confirmation, 'Please confirm password' %>
		<%= user.password_field :password_confirmation %>
	<% else %>
		<p><%= "Github UID: #{user.object.uid}" %></p>
	<% end %>

	<%= user.submit %>
<% end %>