<%= form_with model: user, local: true do |user| %>
	<% if user.object.errors %>
		<ul>
			<% user.object.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	<% end %>
	<%= user.label :email %>
	<%= user.email_field :email %>
	<br>
	<%= user.label :password %>
	<%= user.password_field :password %>
	<br>
	<%= user.label :password_confirmation, 'Please confirm new password:' %>
	<%= user.password_field :password_confirmation %>

	<%= user.submit class: 'btn btn-success' %>
<% end %>