<h1><%= @user.name %></h1>
<% if @user.profile %>
	<p><%= @user.profile.bio %></p>
	<ul>
		<li>
			<%= "Likes:\n #{@user.profile.likes}" %>
		</li>
		<li>
			<%= "Dislikes:\n #{@user.profile.dislikes}" %>
		</li>
	</ul>
	<p><%= "#{@user.profile.gender} looking for #{@user.profile.sex_pref}" %></p>
	<% if @user == session_user %>
		<%= link_to 'Edit Profile', edit_user_profile_path %>
	<% end %>
<% elsif @user == session_user %>
	<%= link_to 'Create Profile', new_user_profile_path %>
<% end %>