<h1><%= @user.nickname %></h1>
<p><%= "First Name: #{@user.firstname}" %></p>
<p><%= "Last Name: #{@user.lastname}" %></p>
<p><%= "Email: #{@user.email}" %></p>
<p><%= "Provider: #{@user.provider_english}" %></p>