<!DOCTYPE html>
<html>
  <head>
    <title>TheOne</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path %>
      <%= link_to 'About', pages_about_path %>
      <%= link_to 'Contact', pages_contact_path %>
      <%= link_to 'Terms', pages_terms_path %>
      <%= link_to 'Privacy', pages_privacy_path %>
      <% if logged_in? %>
        <%= link_to "#{session_user.name} - Log Out", delete_session_path, method: 'DELETE' %>
      <% else %>
        <%= link_to 'Log In', new_session_path %>
        <%= link_to 'Sign Up', new_user_path %>
      <% end %>
    </nav>
    <br>
    <%= yield %>
  </body>
</html>
