<!DOCTYPE html>
<html>
  <head>
    <title>TheOne</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if logged_in? %>
        <%= form_with url: '/sessions/delete', method: 'DELETE' do |logout| %>
          <%= logout.label session_user %>
          <%= logout.submit 'Logout' %>
        <% end %>
      <% else %>
        <%= form_with url: '/sessions/new', method: 'GET' do |login| %>
          <%= login.submit 'Login' %>
        <% end %>
        <%= form_with url: '/users/new', method: 'GET' do |signup| %>
          <%= signup.submit 'Signup' %>
        <% end %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
